{% extends "base.html" %}

{% block title %}
    My Projects
{% endblock title %}

{% block content %}
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url "create_project" %}">Create new project</a></p>
        {% if projects|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>           
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <th><a href="{% url "show_project" project.id %}">{{ project.name }}</a></th>
                    <th>{{ project.tasks.all|length }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
{% endblock content %}